{% extends 'data/base.html' %}

{% block content %}
  <div class="container my-4" id="content">
    <div class="d-block mx-auto text-center" style="max-width: 500px">
      <h1 class="mb-4">Contact Us</h1>
      <form method="post" id="contactForm">
        {% csrf_token %}
        {% for field in contactForm %}
          <div class="form-group">
            {{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}