/* Main Content */
#content {
  min-height: 75vh;
}

/* Home Styles */
#filter {
  min-height: 40vh;
}

/* QueryForm */
#queryDropdowns .dropdown-menu ul {
  list-style: none;
  padding-left: 5% !important;
}

/* SearchForm */
#searchForm input {
  width: 15rem; !important;
}

/* Footer Styles */
#footer {
  font-size: 1.5rem;
  padding: 1rem;
}